.app-header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding: 10px 20px;
    position: relative; /* Permite posicionar el logo sin afectar el título */
  }
  
  .app-logo {
    height: 70px;
    width: auto;
    position: absolute; /* Saca el logo del flujo normal */
    left: 20px; /* Coloca el logo en la esquina izquierda */
  }
  
  .app-header h1 {
    font-size: 40px;
    margin: 0;
  }
  
  